<div id="display_notes_modal" class="reveal-modal" data-reveal role="dialog" data-options="close_on_background_click:false">
  <div class="jumbotron">
    <h1>Notes</h1>
    <div class="notes-group">
    </div>
  </div>
</div>